apiVersion: apps/v1
kind: Deployment
metadata:
  name: "nodejs-example"
  annotations:
    description: Defines how to deploy the application server
    template.alpha.openshift.io/wait-for-ready: 'true'
spec:
  replicas: 1
  selector:
    name: "nodejs-example"
  template:
    metadata:
      name: "nodejs-example"
      labels:
        name: "nodejs-example"
    spec:
      containers:
      - name: nodejs-example
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 8080
        readinessProbe:
          timeoutSeconds: 3
          initialDelaySeconds: 3
          httpGet:
            path: "/"
            port: 8080
        livenessProbe:
          timeoutSeconds: 3
          initialDelaySeconds: 30
          httpGet:
            path: "/"
            port: 8080
        resources:
          limits:
            memory: "512Mi"
